<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.user.mapper.UserMapper">


    <select id="selectIdByPhoneAndTenantId" resultType="java.lang.Long">
        SELECT id
        FROM users
        WHERE phone = #{phone}
          and status != 6
          and tenant_id = #{tenantId}
    </select>
    <select id="selectIdByCredentials" resultType="java.lang.Long">
        SELECT id FROM users WHERE username=#{username} and password=#{password}
    </select>
    <select id="selectIdByUsername" resultType="java.lang.Long">
        SELECT id FROM users WHERE username=#{username}
    </select>



    <select id="selectUserPhone" resultType="java.lang.String">
        SELECT phone FROM users WHERE id = #{id}
    </select>




    <select id="selectPasswordByUsername" resultType="java.lang.String">
        SELECT password FROM users WHERE username=#{username}
    </select>
    <select id="selectPasswordByPhoneAndTenantId" resultType="java.lang.String">
        SELECT password FROM users WHERE phone=#{phone} and status != 6 and tenant_id=#{tenantId}
    </select>
    <select id="selectPasswordById" resultType="java.lang.String">
        SELECT password FROM users WHERE id=#{userId}
    </select>
    <update id="updateUserPassword">
        UPDATE users SET password = #{password} WHERE id = #{id}
    </update>




    <update id="changeUserStatus">
        UPDATE users SET status = #{status} WHERE id = #{id}
    </update>
    <select id="selectUserStatus" resultType="java.lang.Integer">
        SELECT status
        FROM users
        WHERE id = #{id}
    </select>




    <update id="bindPhone">
        UPDATE users SET phone = #{phone} WHERE id = #{id}
    </update>


    <update id="bindEmail">
        UPDATE users SET email = #{email} WHERE id = #{id}
    </update>


    <select id="existsByPhone" resultType="boolean">
        SELECT EXISTS(
                       SELECT 1
                       FROM users
                       WHERE phone = #{phone}
                         AND tenant_id = #{tenantId}
                         AND status != 6
    )
    </select>
    <select id="existsByPhoneGlobal" resultType="boolean">
        SELECT EXISTS(
                       SELECT 1
                       FROM users
                       WHERE phone = #{phone}
                         AND status != 6
    )
    </select>


    <select id="existsByEmail" resultType="boolean">
        SELECT EXISTS(
                       SELECT 1
                       FROM users
                       WHERE phone = #{email}
                         AND tenant_id = #{tenantId}
                         AND status != 6
    )
    </select>


    <!-- 冻结用户 -->
    <update id="freezeUser">
        UPDATE users
        SET
            status = 2,
            frozen_until = #{frozenUntil}
        WHERE id = #{userId}
          AND (
                frozen_until IS NULL
                OR frozen_until &lt;= NOW()
            )
    </update>


    <!-- 到期自动解冻 -->
    <update id="unfreeze">
        UPDATE users
        SET
            status = 1,
            frozen_until = NULL
        WHERE id = #{userId}
          AND status = 2
          AND frozen_until &lt;= NOW()
    </update>


    <!-- 查询冻结时间 -->
    <select id="selectFrozenUntil" resultType="java.sql.Timestamp">
        SELECT frozen_until
        FROM users
        WHERE id = #{userId}
    </select>


    <select id="countByTenantId" resultType="java.lang.Integer">
        select count(id) - 1 from users where tenant_id = #{tenantId}
    </select>

    <select id="getUsers" resultType="com.user.pojo.User">
        SELECT
            id,
            username,
            password,
            email,
            phone,
            status,
            created_at,
            updated_at,
            frozen_until,
            tenant_id
        FROM users
        WHERE tenant_id = #{tenantId}
    </select>

</mapper>